:root {
  --color-paradox-seafoam: #32afa5;
  --color-dark-bg: #121212;
}

html, body {
  background-color: var(--color-dark-bg);
  color: var(--color-paradox-seafoam);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 45px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-dark-bg);
  border-bottom: 1px solid var(--color-paradox-seafoam);
}

header .pg-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

table {
  min-width: 80vw;
}

.full-screen-modal table {
  min-width: 90%;
}

table td, table th {
  padding: var(--sm-size);
  border: 1px solid var(--color-paradox-seafoam);
  text-align: center;
}

table th:first-child {
  border-top-left-radius: var(--sm-border-size);
}

table th:last-child {
  border-top-right-radius: var(--sm-border-size);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: var(--sm-border-size);
}

table tr:last-child td:last-child {
  border-bottom-right-radius: var(--sm-border-size);
}

select {
  background: var(--color-dark-bg);
  color: var(--color-paradox-seafoam);
  border: 1px solid var(--color-paradox-seafoam);
  border-radius: var(--sm-border-size);
}

input[type="text"] {
  background: var(--color-dark-bg);
  color: var(--color-paradox-seafoam);
  border-color: var(--color-paradox-seafoam);
  border-radius: var(--sm-border-size);
  border-width: 1px;
}

input[type="text"].font-lg, select.font-lg {
  min-height: calc(var(--lg-font-size) + var(--xl-size));
  min-height: calc(var(--lg-font-size) + var(--xl-size));
  padding: 0 var(--sm-size);
}

::placeholder, ::-ms-input-placeholder {
  color: var(--color-paradox-seafoam);
}

.border-seaform {
  border: 1px solid var(--color-paradox-seafoam);
}

.modal-content {
  background-color: var(--color-dark-bg);
  color: var(--color-paradox-seafoam);
  border: 1px solid var(--color-paradox-seafoam);
}

.modal-content button, button.btn {
  background-color: var(--color-paradox-seafoam);
  color: var(--color-dark-bg);
  border-color: var(--color-paradox-seafoam);
}

.modal-content button.btn-outline, button.btn.btn-outline {
  color: var(--color-paradox-seafoam);
}

.planner {
  position: fixed;
  right: var(--lg-size);
  top: var(--lg-size);
  background-color: var(--color-dark-bg);
  border: 1px solid var(--color-paradox-seafoam);
  border-radius: var(--sm-border-size);
}

.confirm-modal {
  z-index: 10;
}

.planner-modal {
  z-index: 5;
}

.planner-modal ul {
  padding: 0 var(--md-size);
  margin-top: 0;
  list-style: none;
}

.paradox-btn {
  width: 300px;
}

.constrain-paragraphs p, .constrain-paragraphs ul {
  max-width: min(65%, 340px);
}

.constrain-paragraphs p {
  text-align: center;
}

@media screen and (max-width: 499px) {
  select, input[type="text"] {
    min-width: calc(100vw - var(--sm-size) * 2) !important;
    max-width: calc(100vw - var(--sm-size) * 2) !important;
    margin-bottom: var(--lg-size);
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  select {
    padding-left: var(--sm-size) !important;
    padding-right: var(--sm-size) !important;
  }
  input[type="text"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-indent: var(--sm-size) !important;
  }
  .raid-container {
    margin-top: 0 !important;
    max-width: calc(100vw - var(--sm-size) * 2) !important;
    min-width: calc(100vw - var(--sm-size) * 2) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: var(--md-size);
  }
  header .pg-title {
    left: var(--lg-size) !important;
    transform: translate(0, -50%);
  }
}